@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <a class="btn btn-primary mb-3" href="StarbucksCustomers/add">Starbucks Müşterisi Ekle</a>
    </div>
     <div>
         <a class="btn btn-primary mb-3" href="PortalCustomers/add">Portal Müşterisi Ekle</a>
     </div>
     <div>
         <a class="btn btn-primary mb-3" href="StarbucksCustomers/getall">Starbucks Müşterilerini Listele</a>
     </div>
     <div>
         <a class="btn btn-primary mb-3" href="PortalCustomers/getall">Portal Müşterilerini Listele</a>
     </div>
     

